[run]
# Tested inside of the actual engine
omit = splitgraph/core/fdw_checkout.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # mypy guards to avoid importing code that's only used for typechecking
    if TYPE_CHECKING:

ignore_errors = True

